<section id="cta">

					<h2>Make A Payment</h2>
					<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

					<form>
					<div class="row">
						<div class="row uniform 50%">
							<div class="8u 12u(mobilep) col-md-3">
								<input type="text" name="email" id="email" placeholder="First Name" />
							</div>
							<div class="8u 12u(mobilep) col-md-3">
								<input type="text" name="email" id="email" placeholder="Last Name" />
							</div>
							<div class="8u 12u(mobilep) col-md-3">
								<input type="email" name="email" id="email" placeholder="E-mail Address" />
							</div>
							<div class="8u 12u(mobilep) col-md-3">
								<input type="number" name="email" id="email" placeholder="Street Number" />
							</div>
                          <div class="8u 12u(mobilep) col-md-3">
								<input type="text" name="email" id="email" placeholder="Street Name" />
							</div>
                          <div class="8u 12u(mobilep) col-md-3">
								<input type="email" name="email" id="email" placeholder="City" />
							</div>
                          <div class="8u 12u(mobilep) col-md-3">
								<input type="text" name="email" id="email" placeholder="State" />
							</div>
                          <div class="8u 12u(mobilep) col-md-3">
								<input type="number" name="email" id="email" placeholder="Card Number" />
							</div>
							 <div class="8u 12u(mobilep) col-md-3">
								<input type="number" name="email" id="email" placeholder="Expiration Date(mm/yy)" />
							</div>
							 <div class="8u 12u(mobilep) col-md-3">
								<input type="number" name="email" id="email" placeholder="3-digit Code" />
							</div>
                           <div class="8u 12u(mobilep) col-md-3">
								<input type="number" name="email" id="email" placeholder="Zip Code" />
							</div>
							<div class="4u 12u(mobilep) col-md-3">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
						</div>
					</form>

				</section>