<!DOCTYPE html>
<html>
  <head>
    <title>Intnatlcomm</title>
    <%= csrf_meta_tags %>
    <link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<div>
   <section id="banner">
        <header id="header" class="alt">
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="#" class="button">Sign Up</a></li>
						</ul>
					</nav>
				</header>
					<h2>Gideon</h2>
					<ul class="icons">
						<li><a href="https://twitter.com/GiddDaKidd" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.instagram.com/giddakidd/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://github.com/GiddM" class="icon fa-github"><span class="label">Github</span></a></li>
					</ul>
					<p>A melinated specimen from earth taught by a rougue AI assassin. </p>
					<ul class="actions">
						<li><a href="#" class="button special">Hire Gideon</a></li>
						<li><a href="#" class="button">Learn More</a></li>
					</ul>
				</section>
    <%= yield %>
    </div>
  </body>
</html>

	